* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #090909 #ffffffa9;

}

.jetbrains-mono-uniquifier> {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

.container_geral {
    /* 100% da tela */
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: rgb(46, 126, 191);
    gap: 30px;
}      
.title {
    display: flex;
    justify-content: initial;
    align-items: center;
    margin-left: 3rem;
    padding-top: 0.5rem;
    font-size: 36px;
    color: aliceblue;
    font-family: Jomhuria;
}
.lista ul{
    list-style: none;
    display: flex;
    padding-top: 1rem;
    gap: 30px;
    margin-right: 80px;
    font-family: Jomhuria;
}


.lista li{
    padding-top: 7px;
    font-size: 1rem;
    color: white;
    font-family: JetBrains Mono;
}

.lista2 ul{
    list-style: none;
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    gap: 30px;
    margin-right: 80px;
    font-family: Jomhuria;
}


.lista2 li{
    padding-top: 7px;
    margin-right: 2rem;
    padding-left: 72rem;
    font-size: 1rem;
    color: white;
    font-family: JetBrains Mono;
}
.container_cards{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: column;
    align-items: center;
    gap: 80px;
}
.foto_heroi{
    width: 244.5px;
    height: 367.5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    transition: transform 0.3s ease;
}
.foto_heroi:hover {
    transform: translateY(-20px); 
}

.card:hover .foto_heroi {
    transform: translateY(-20px); /* move a imagem para cima quando o mouse passa por cima */
}

.card:hover .texto {
    color: red; /* muda a cor do texto para vermelho quando o mouse passa por cima */
}

.coluna{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    font-family: JetBrains Mono;
    color: white;
    
    gap: 1rem;
}

.linha2{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: column;
    align-items: center;
    gap: 80px;
}
.titulo{
    display: flex;
    margin-top: 7rem;
    margin-left: 22rem;
    color: white;
    font-family: JetBrains Mono;
    font-size: 1.5rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    height: 4rem;
    background-color: rgb(46, 126, 191);
  }
  .desenvolvidopor{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 20px;
    color: aliceblue;
    margin-left: 1rem;
    padding-top: 2px;
    font-family: JetBrains Mono;
  }
  .redessociais{
    display: flex;
    justify-content: right;
    gap: 0.8rem;
    padding-right: 1rem;
  }

  @media (max-width: 480px) {
    .coluna{
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        font-family: JetBrains Mono;
        color: white;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .linha{
        flex-direction: column;
    }
    .linha2{
        flex-direction: column;
        
    }
    .titulo{
        margin-left: 4.5rem;
       
    }
    .desenvolvidopor{
        padding-top: 6px;
       font-size: 14px; 
      }
   
  }
  @media (max-width: 768px) {
    .linha{
        justify-content: center;
        align-items: center;
    }
    .linha2{
        justify-content: center;
        align-items: center;
    }
    .titulo{
        margin-left: 6.4rem;
    }
    .lista2 li{
        padding-top: 7px;
        margin-right: 2rem;
        padding-left: 1rem;
        font-size: 1rem;
        color: white;
        font-family: JetBrains Mono;
    }
  }

  @media (max-width: 853px) {
    .linha{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .linha2{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .titulo{
        margin-left: 6.4rem;
    }
    .lista2 li{
        padding-top: 7px;
        padding-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
         
        font-size: 1rem;
        color: white;
        font-family: JetBrains Mono;
    }
  }
  @media (min-width: 912px) {
    .titulo{
        margin-left: 6.4rem;
    }
    .linha{
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .linha2{
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .lista2 li{
        padding-top: 7px;
        margin-right: 2rem;
        padding-left: 8rem;
        font-size: 1rem;
        color: white;
        font-family: JetBrains Mono;
    }
    
    .foto_heroi{
        width: 163px;
        height: 245px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        margin-top: 550px;
        width: 100%;
        height: 100%;
        height: 4rem;
        background-color: rgb(46, 126, 191);
      }

  }

  @media (min-width: 1024px) {

  
    .titulo{
        margin-top: 12rem;
        margin-left: 7.5rem;
    }
    .linha{
        justify-content: center;
        align-items: center;
    }
    .linha2{
        justify-content: center;
        align-items: center;
    }
    
    .lista2 li{
        padding-left: 16rem;
    }
    
    .foto_heroi{
        width: 163px;
        height: 245px;
    }

 
}

@media (min-width: 1280px) {

  
    .titulo{
        margin-top: 12rem;
        margin-left: 25rem;
    }
    .linha{
        justify-content: center;
        align-items: center;
    }
    .linha2{
        justify-content: center;
        align-items: center;
    } 
    .lista2 li{
        padding-left: 72rem;
    }
    .foto_heroi{
        width: 244.5px;
        height: 367.5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
        transition: transform 0.3s ease;
    }
   
 
}

