@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jomhuria&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #090909 #ffffffa9;
}

:root {
  --cor-principal: #2d7ebf;
  --cor-background: #1e1e1e;
  --fonte-titulo: "Jomhuria", serif;
  --fonte-principal: "JetBrains Mono", monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-background);
  overflow-x: hidden;
}

.container_conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  background-color: var(--cor-principal);
  gap: 30px;
}

.titulo {
  display: flex;
  justify-content: initial;
  align-items: center;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
  font-size: 36px;
  color: white;
  font-family: var(--fonte-titulo);
}

.links {
  text-decoration: none;
  color: white;
}

.lista ul {
  list-style: none;
  display: flex;
  padding-top: 1rem;
  gap: 30px;
  margin-right: 80px;
  font-family: var(--fonte-principal);
}

.lista li {
  padding-top: 7px;
  font-size: 1rem;
  color: white;
  font-family: var(--fonte-principal);
}

.lista2 ul {
  list-style: none;
  display: flex;
  justify-content: end;
  padding-top: 1rem;
  gap: 30px;
  margin-right: 80px;
  font-family: var(--fonte-principal);
}

.lista2 li {
  padding-top: 7px;
  margin-right: 2rem;
  padding-left: 72rem;
  font-size: 1rem;
  color: white;
  font-family: var(--fonte-principal);
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 35rem;
  justify-content: center;
  padding-left: 12rem;
}

.botao {
  background-color: var(--cor-principal);
  border: 2px solid var(--cor-principal);
  padding: 1rem;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-family: var(--fonte-principal);
}

.botao:hover {
  background-color: white;
  border: 2px solid var(--cor-principal);
  scale: 1.05;
  color: var(--cor-principal);
}

.mapa {
  margin: 7rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  width: 100%;
  height: 100%;
  height: 4rem;
  background-color: rgb(46, 126, 191);
}
.desenvolvidopor{
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  font-size: 20px;
  color: aliceblue;
  margin-left: 1rem;
  padding-top: 2px;
  font-family: JetBrains Mono;
}
.redessociais{
  display: flex;
  justify-content: right;
  gap: 0.8rem;
  margin-right: 2rem;
  padding-right: 1rem;
}

@media (max-width: 850px) {
  .container_conteudo {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .botoes {
    padding-left: 0;
    width: auto;
    margin-bottom: 5rem;
  }

  .mapa {
    height: 25rem;
    width: 25rem;
  }
}
