* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #090909 #ffffffa9;

}

.container_geral {
    width: 100%;
    min-height: 100vh;
    background-color: #1E1E1E;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: rgb(46, 126, 191);
    gap: 0;
}      

.title {
    display: flex;
    justify-content: initial;
    align-items: center;
    margin-left: 2rem;
    padding-top: 0.5rem;
    font-size: 36px;
    color: aliceblue;
    font-family: Jomhuria;
}
.lista ul{
    list-style: none;
    display: flex;
    padding-top: 1rem;
    gap: 30px;
    margin-right: 80px;
    font-family: Jomhuria;
}


.lista li{
    padding-top: 7px;
    font-size: 1rem;
    color: white;
    font-family: JetBrains Mono;
}

.lista2 ul{
    list-style: none;
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    gap: 30px;
    margin-right: 80px;
    font-family: Jomhuria;
}


.lista2 li{
    padding-top: 7px;
    margin-right: 2rem;
    padding-left: 39rem;
    font-size: 1rem;
    color: white;
    font-family: JetBrains Mono;
}

.container_home{
    background-color: 1E1E1E;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container_home2{
    background-color: #1E1E1E;
    height: 100%;
    width: 93%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container_texto{
background-color: 1E1E1E;
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 1.5rem;
margin-top: 3rem;
}

.texto1{
 background-color: #1E1E1E;
 height: 10%;
 width: 95%;
 font-family: Jomhuria;
 font-size: 64px;
 color: white;
 letter-spacing: 3px;
 line-height: 4rem;
 margin-top: 6rem;
 margin-left: 2.5rem;
}

.texto2{
 background-color: #1E1E1E;
 height: 9%;
 width: 87%;
 color: white;
 font-size: 22px;
 font-family: 'JetBrains Mono';
 margin-right: 0.3rem;
}

.escolher{
    display: flex;
    flex-direction: column;
 background-color: #1E1E1E;
 height: 9%;
 width: 80%;
 gap: 1rem;
 margin-right: 2.5rem;
}

.inserir{
    width: 100%;
    height: 9%;
}
.select{
    width: 100%;
    height: 9%;
}

.local{
    height: 4rem;
    font-size: 22px;
    width: 100%;
    border-radius: 10px;
    font-family: 'JetBrains Mono';
    background-color: #2D7EBF;   
    color: white;
    border-style: none;
    padding-left: 5rem;
}
::placeholder{
    color: white;
}
 fieldset{
    border-style: none;
 }

.enviar{
 background-color: #0A4F88;
 border-color: #0A4F88;
 width: 9rem;
 height: 3.5rem;
 color: white;
 font-family: 'JetBrains Mono';
 font-size: 1.2rem;
 border-style: none;
 margin-right: 21.4rem;

 button{
    background-color: #0A4F88;
    border-color: #0A4F88;
    height: 100%;
    width: 100%;
 }
}

.container_imagem{
background-color: 1E1E1E;
height: 60rem;
width: 35rem;
justify-content: center;
display: flex;
align-items: center;
margin-top: 3rem;
margin-left: 1rem;
img{
    height: 89%;
    width: 87%;
}
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    height: 4rem;
    background-color: rgb(46, 126, 191);
  }
  .desenvolvidopor{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 20px;
    color: aliceblue;
    margin-left: 1rem;
    padding-top: 1.3rem;
    font-family: JetBrains Mono;
  }
  .redessociais{
    display: flex;
    justify-content: right;
    gap: 0.8rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }